*.iml
.gradle
/.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

/app/release
app/src/main/res
/server/servlet
/server/python-functions/env
/server/python-functions/.idea
/server/python-functions/ServiceAccountKey.json
app/google-services.json
