*.iml
.gradle
/.idea
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.idea/caches/build_file_checksums.ser
.DS_Store
/build
/captures
.externalNativeBuild

/app/release
/server/servlet
/server/python-functions/cluster_distance_voronoi/env
/server/python-functions/cluster_distance_voronoi/.idea
/server/python-functions/cluster_distance_voronoi/ServiceAccountKey.json
/server/python-functions/cluster_distance_voronoi/request.json
/server/python-functions/cluster_distance_radius/env
/server/python-functions/cluster_distance_radius/.idea
/server/python-functions/cluster_distance_radius/ServiceAccountKey.json
/server/python-functions/cluster_distance_radius/request.json
/server/python-functions/cluster_route/env
/server/python-functions/cluster_route/.idea
/server/python-functions/cluster_route/ServiceAccountKey.json
/server/python-functions/cluster_route/request.json
/server/python-functions/generateEvents/env
/server/python-functions/generateEvents/.idea
/server/python-functions/generateEvents/ServiceAccountKey.json
/server/python-functions/MIP solver/env
/server/python-functions/MIP solver/.idea
/server/python-functions/MIP solver/ServiceAccountKey.json
/server/python-functions/cluster_lip/env
/server/python-functions/cluster_lip/.idea
/server/python-functions/cluster_lip/ServiceAccountKey.json
/server/python-functions/cluster_lip/request.json
/server/python-functions/cluster_vrp/env
/server/python-functions/cluster_vrp/.idea
/server/python-functions/cluster_vrp/ServiceAccountKey.json
/server/python-functions/cluster_vrp/request.json
/app/google-services.json
